.container-full {
    width          : 100px;
    height         : 100px;
    background     : #6C7A89;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.space {
    padding-top : 100px;
    padding-left: 50px;
}

.login {
    width           : 500px;
    height          : auto;
    text-align      : left !important;
    padding         : 15px 15px 15px 15px;
    margin          : auto;
    border-radius   : 15px !important;
    background-color: rgb(240, 240, 240);
}

.col-auto {
    padding: 10px 10px 10px 155px;
}

.col-auto .btn {
    border-radius: 15px !important;
}

.mb-3 .input {
    border-radius: 15px !important;
}
@media screen and (min-width: 750px) {
    .container {
      margin: 1em 2em;
    }
  } 